:root{
    --modal-background: rgba(222, 226, 230, 0.9);
    --header-color: #DEE2E6;
    --black: #000;
    --white: #fff;
}
body {
    background-color: var(--black);
}

.content{
    margin-top: 10vh;
}

* {
        scrollbar-color: #bdb4dc transparent;
    }
    *::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #bdb4dc;
        border-radius: 8px;
        border: 1px solid grey;
    }